body	{
	background:url("images/bg.jpg");
	background-size:fit;
}

#hmp	{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	vertical-align:text-top;
	background-color:white;
	background-size:cover;
	border:2px solid;
	border-radius:25px;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-image:url("images/navbanner.png"); 
	background-size:cover;
	
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	} 
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 
	
#pg1p {
	text-align:center;
}

#hmp {
	text-align:center;
}

.sp {
	text-align:center;
	font-weight:900;
}

#sPIC	{
	text-align:center;
	}

